# this is header1

## header2

### header 3

In [1]:
print("hello world")

hello world

In [2]:
# '''This is multlineb comment '''

In [ ]:
# create python variables 
name = 'Chhyoti'

In [4]:
name

'Chhyoti'

In [5]:
name

'Chhyoti'

In [6]:
a,b,c = 'ram','hari','sita '

In [7]:
a,c,c

('ram', 'sita ', 'sita ')

In [8]:
0name = "Hi"

SyntaxError: invalid decimal literal (4043867405.py, line 1)

In [9]:
name2 = "Hari"

In [10]:
name2

'Hari'

In [13]:
# Interger variable 
num = 2 
price = 250.60

In [12]:
num

2

In [14]:
price

250.6

In [15]:
x = a + bj

NameError: name 'bj' is not defined

In [16]:
com = 1+ 5j

In [17]:
com

(1+5j)

In [18]:
name ="hi"

In [19]:
name

'hi'

In [20]:
type(name)

str

In [21]:
Bool = True

In [22]:
type(bool)

type

In [23]:
type(Bool)

bool

In [24]:
# typecasting
f1 = 2.3
k1 = 3 
print(type(f1))

print(type(k1))

<class 'float'>
<class 'int'>

In [ ]:
k1 = f1/k1
print(f1/k1)

0.7666666666666666

In [28]:
print(type(k1))

<class 'int'>

In [29]:
task1 = input(int("Enter 1st num"))
task2 = input(int("Enter 1st num"))
result = task1 + task2

ValueError: invalid literal for int() with base 10: 'Enter 1st num'

In [32]:
x = int(input("Enter a numer: "))
y = int(input("Enter a numer: "))
print(x + y)

ValueError: invalid literal for int() with base 10: 'Enter a numer: '

In [33]:
x = int(input("Enter a 1st numer: "))
y = int(input("Enter a 2nd  numer: "))
print(x + y)

5

In [39]:

name = 'Hair'
age =  40
print('My name is ', name , 'age is', age)
print(f'My name is {name } , age is, {age}')

My name is  Hair age is 40
My name is Hair , age is, 40

In [ ]:
# Foramt method
 
print('My name is' {} , 'age is', {}.format(name ,age)

In [42]:
# List []
list = [1,2,3]
type(list)

list

In [44]:
# mutable
list[-2]

2

In [45]:
list[0:2]

[1, 2]

In [58]:
list1 = [1,2,3,4,5,6,7,8,9]
#  positive indexing 

# negative indexing 
list1[-2]
#slicing

8

In [56]:
list[-2]

2

In [ ]:
# sets 
# Unique
# unordered 
# union, intersection,difference
# mutable 

s1 = {2,3,4,5,6,7}
type(s1)

set

In [60]:
s1

{2, 3, 4, 5, 6, 7}

In [62]:
s1[0]

TypeError: 'set' object is not subscriptable

In [63]:
s1 = {1,2,3,4,5}
s2 = {58,9,6,7}
# union
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 9, 58}

In [65]:
s1 = {1,2,3,4,5}
s2 = {58,9,6,7,2,3}

print(s1 & s2)

{2, 3}

In [ ]:
# create dictionary
dict1 = {'name':'Hari','age':20,'city':'kathmandu'}
print(dict1["name"])
print(dict1["age"])
print(dict1["city"])

Hari
20
kathmandu

In [70]:
dict1['age'] = 34

In [71]:
dict1

{'name': 'Hari', 'age': 34, 'city': 'kathmandu'}

In [73]:
dict.add('gender')

AttributeError: type object 'dict' has no attribute 'add'

In [74]:
#frozenset - immutable set 
fs = frozenset ([1,2,3,4,4,6,7])

In [75]:
fs

frozenset({1, 2, 3, 4, 6, 7})

In [76]:
# deque - double ended queue
from collections import deque

In [77]:
dq = deque([1,2,3,4])
type(dq)

collections.deque

In [78]:
dq.append(3)

In [79]:
dq

deque([1, 2, 3, 4, 3])

In [80]:
# appendleft = adds in start
dq.appendleft(6)

In [81]:
dq

deque([6, 1, 2, 3, 4, 3])

In [82]:
dq.pop(1)

TypeError: deque.pop() takes no arguments (1 given)

In [83]:
dq.remove(2)

In [84]:
dq

deque([6, 1, 3, 4, 3])

In [85]:
dq.pop(3)

TypeError: deque.pop() takes no arguments (1 given)

In [88]:
# defaultdict 
from collections import defaultdict
dd= defaultdict(list)

TypeError: first argument must be callable or None

In [89]:
# counter
from collections import Counter
c= Counter("sdbvakjshdfgawjkdsfghvawjd")

In [90]:
c

Counter({'d': 4,
         's': 3,
         'a': 3,
         'j': 3,
         'v': 2,
         'k': 2,
         'h': 2,
         'f': 2,
         'g': 2,
         'w': 2,
         'b': 1})

In [91]:
# List comprehensions
# generate a square number of the given lsit 
l1 =[1,2,4,5,6,7,8,9]
lc =[ item *item for item in l1 ]

In [92]:
lc

[1, 4, 16, 25, 36, 49, 64, 81]

In [97]:
# using list comprehension find even number from the list
l2 =[1,2,3,4,5,6,7,8]
lc2 =[item  for item in l2 if item % 2 == 0]

In [94]:
lc2

[False, True, False, True, False, True, False, True]

In [98]:
l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [99]:
lc2

[2, 4, 6, 8]

In [102]:
l3 =['Hari','ram','shyam']
lc3 = [ item.upper() for item in l3 ]

In [101]:
lc3

In [103]:
lc3

['HARI', 'RAM', 'SHYAM']

In [104]:
# dictionary comprehension
dic1 ={item:item.upper() for item in l3}

In [105]:
dic1

{'Hari': 'HARI', 'ram': 'RAM', 'shyam': 'SHYAM'}

In [ ]:
# Task3 create comprehension to print square no upto 10
l4 =[ 1,2,3,4,5]
lc5 = {item:item*item for item in range(10)}

In [107]:
lc5

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# generators
g1 = (item for item in range(10))

In [109]:
g1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [113]:
next(g1)

TypeError: 'set' object is not an iterator

In [1]:
list1 = ["apple","mango","orange"]

In [2]:
list1

['apple', 'mango', 'orange']

In [3]:
list1.add("Litchi")

AttributeError: 'list' object has no attribute 'add'

In [4]:
list1.append("Banana")

In [5]:
list1

['apple', 'mango', 'orange', 'Banana']

In [6]:
numbers = (1,2,3)

In [7]:
d1 = {'a':'hi'}

In [8]:
d1

{'a': 'hi'}

In [9]:
d1['n'] ='m'

In [10]:
d1

{'a': 'hi', 'n': 'm'}

In [11]:
'a' in d1

True

In [ ]:
# lamBda function for small one line function 
# syntax
#lambda variable/ parameter : function_body

In [2]:
# create lambda function to get the square of the number 
result = lambda x: x*x 
result(10)

100

In [3]:
# map - applies functions to every iterables (list,set)
#iterable like list
#functions 
# map applies function to evry item of the list

In [4]:
num1 = [1,2,3,4]
# add 3 to every number
add_3 = list(map(lambda x:x + 3, num1)) # function and iterable 
add_3

[4, 5, 6, 7]

In [7]:
#  use filter , gives True 
# filter(function, iteraable )
# using filter from the list filter numbers divisible by 3 
num2 =[1,2,3,4,5,6,7,8,9]
divisible_3 = list(filter(lambda x: x % 3 == 0 , num2))
divisible_3

[3, 6, 9]

In [8]:
# reduce (function, iterable)
# to reduce to single iterable /value 
# repeatedly applies the function to the iterable
from functools import reduce
sum_num2 = reduce(lambda x,y : x+y,num2)

In [9]:
sum_num2

45

In [10]:
# task 2 
# use lambda ,filter,map ,reduce to get the square sum of even number 

num3  =[1,2,3,4,5,6,7,8,9]
even_num = list(filter(lambda x: x % 2 == 0 , num3))
even_num

[2, 4, 6, 8]

In [15]:
square_num = list(map(lambda x: x * x, even_num ))
square_num

[4, 16, 36, 64]

In [16]:
from functools import reduce
sum_num =  reduce(lambda x,y: x+ y, square_num)
sum_num

120

In [18]:
# Erroe handling
#try/except
# try/except/else/finally

In [19]:
#try:
    # code that can arise exception
    #pass
#except exception_type"ArithmeticError
    # code that shopws this exception
   #pass
#else:
# program when run is success 
pass
#finally:
# always run this

In [ ]:
try: 
    num1= int(input(" Enter a number:"))
    num2 = int(input(" Enter a number:"))
    div_res = num1/num2

except ZeroDivisionError:
    print("Second number can not be zero")
except ValueError:
    print("input value is not correct")

else:
    print(f" The result is {div_res}")
    
finally:
    print("Program success ")

input b=value is not correct
Program success

In [22]:
# creating custom exception 
class NegativeNumberError(Exception):
    pass

In [23]:
def negative_age(x):
    if x < 0:
        raise NegativeNumberError('Age can not be negative')
    return 'age is not valid'

In [25]:
try:
    negative_age(-1)
except NegativeNumberError as e:
    print(e)

Age can not be negative

In [26]:
# assignment 
#Build a csv =json converter with exception haldling

In [28]:
# class -- blueprint for creating object
class ClassName:
    # class methods 
    pass 
# to initialixe class , create object
c1 = ClassName()

In [39]:
class Car:
    def __init__(self,brand,model,year):
        self.brand = brand
        self.model = model
        self.year = year
        self.speed = 0 # default attribute
        

    def display_info(self):
        print(f"Build year: {self.year}, Model: {self.model}, and the brand is {self.brand}")

    def accelerate(self, amount):
        self.speed += amount
        print("car sppeed is", self.speed, 'km/hr')

    
c2 = Car('Toyota','milax',2020)
c2.display_info()

Build year: 2020, Model: milax, and the brand is Toyota

In [40]:
c2.accelerate(90)

car sppeed is 90 km/hr

In [ ]:
# operator
# vector addition
class vector2D:
    def __init__(self,x,y):
        self.x =x 
        self.y = y
    # string overloading 
    def __str__(self):
        return f"{self.x},{self.y}"
    # addition addition v1+ v2
    def __add__(self, other):
        return vector2D(self.x + other.x, self.y+other.y)
    
v1 = vector2D(2,3)
v2 = vector2D(3,4 )

In [47]:
print(v1+v2)

5,7

# Inheritance

In [49]:
class Animal:
    def __init__(self):
        pass
    
    def speak(self):
        print("animal speak")

In [52]:
# Single inheriancw
class Dog(Animal):
    def __init__(self):
        pass 
    def speak(self):
        print('dog barks ')

d1 = Dog()

In [53]:
d1.speak()

dog barks

In [58]:
class Employee:
    def __init__(self,name,base_salary):
        self.name = name
        self.base_salary = base_salary

    def get_details(self):
        return f" Employee name is {self.name},base salary: {self.base_salary}"
        

class Manager(Employee):
    def __init__(self,name,base_salary,bonus):
        super().__init__(self,name,base_salary)
        self.bonus = bonus 

    def get_details(self):
          base=  super().get_details()
          return f"{base},Bonus:{self.bonus}"

s1 = Employee("Ram", 20000)

In [59]:
# special class that add reusable functionality to other class, they aew not fully parent
# __init__ is not defined 
from datetime import datetime
class LogMixin():
    def log(self):
        return f"[{datetime.now()}]: {message}"

In [61]:
class User(LogMixin):
    def __init__(self,username,password):
        self.username = username
        self.password = password
    def greet(self):
        print(self.log(f"{self.username} has logged in"))
u1 = User('admin','admin1')
u1.greet()

TypeError: LogMixin.log() takes 1 positional argument but 2 were given

In [77]:

class DiscountMixins():
    def add_discount(self,percent):
        discount = self.price * (percent/100)
        print( f"Original  price is {self.price} and price after discount is {self.price-discount}")
    

class Product(DiscountMixins):
    def __init__(self,price,name):
        self.price =price
        self.name = name 

    def final_price (self):
        super().add_discount(20)
      
p1 = Product(20000,'mobile')
p1.final_price()

Original  price is 20000 and price after discount is 16000.0

# Assignment
## #Build a csv =json converter with exception haldling

In [1]:
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    try:
        # Read CSV data
        with open(csv_file_path, mode='r', encoding='utf-8') as csv_file:
            csv_reader = csv.DictReader(csv_file)
            data = list(csv_reader)  # Convert to list of dictionaries

        # Write JSON data
        with open(json_file_path, mode='w', encoding='utf-8') as json_file:
            json.dump(data, json_file, indent=4)

        print(f"Successfully converted '{csv_file_path}' to '{json_file_path}'.")

    except FileNotFoundError:
        print(f"Error: The file '{csv_file_path}' was not found.")
    except PermissionError:
        print(f"Error: Permission denied when accessing the file.")
    except csv.Error as e:
        print(f"CSV error: {e}")
    except json.JSONDecodeError as e:
        print(f"JSON error: {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

# Example usage:
csv_file = 'input.csv'  # replace with your CSV file path
json_file = 'output.json'  # desired JSON output file path

csv_to_json(csv_file, json_file)

Error: The file 'input.csv' was not found.